body {
  background-color: #BACDDB;
  color: #40514E;
  font-family: Jura, sans-serif;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}
h1 {
   color: lightgrey;
}
h2 {
   color: grey;
}
h3 {
  color: #86A3B8;
  font-weight: 900;
}
hr {
  border: none;
  border-top: 10px dotted #86A3B8;
  width: 8%;
  margin: 5% auto;
}
a {
  color: white;
  margin: 20px;
  text-decoration: none;
}
.header {
  background-color: #86A3B8;
  font-size: 2rem;
}
.header h1 {
  font-family: "Sedgwick Ave", cursive;
  font-size: 6rem;
  margin: 0 auto;
}
.header h2 {
  color: lightgrey;
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 0;
}
#top_clouds {
  height: 120px;
  left: 30%;
  position: relative;
  top: 20px;
}
#bottom_clouds {
  bottom: 20px;
  height: 180px;
  position: relative;
  right: 30%;
}

.cool_img {
  height: 200px;
  border-radius: 100%;
}
.middle_section {
  margin: 5% auto;
}
.middle_section p {
  margin: auto;
  width: 35%;
}

.skill_img_one {
  width: 25%;
  float: left;
  margin-right: 20px;
}
.skill_img_two {
  width: 25%;
  float: right;
  margin-left: 20px;
}
.skill_row {
  width: 50%;
  margin: 25px auto;
  display: inline-block;
  text-align: left;
}
.skill_row p {
  line-height: 2;
  width: 75%;
}
.contact_me p {
  margin-bottom: 40px;
}
.btn {
  border: 3px solid #86A3B8;
  background-color: #86A3B8;
  color: white;
  padding: 10px;
}
.btn:hover {
  background-color: #BACDDB;
  color: #86A3B8;
}
.footer {
  background-color: #86A3B8;
  color: white;
  padding: 20px 0;
  line-height: 2;
}
.footer a:hover {
  color: #BACDDB;
}
.copyright {
  color: lightgrey;
  font-size: 1rem;
}
